body{
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    
}

.logo {
    height: 2em;
    display: flex;
    align-items: center;
    margin-left: 24px;
    
    
}

.name{
    font-size: 1em;
}

.logo img {
    height: 2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
   
}

.navbar nav a {
    margin-right: 16px;
}


