body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    
}

.logo {
    height: 2em;
    display: flex;
    align-items: center;
    margin-left: 24px;
    
    
}

.name{
    font-size: 1em;
}

.logo img {
    height: 2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.navbar nav a {
    margin-right: 16px;
}

/* Section 1 */

.main1-container{
    background-color: #dce0dc;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 32px;
    
}

.main1-left{
    width: 60%;
    
}

.main1-right{
    width: 40%
}

.main1-right{
    display: inline-block;
    
}

.main1-left img{
    display:block;
    padding: 32px 24px;
    width: 100%;
    height: auto;

}

.main1-right{
    
    top: 0; /* Align to the top of the container */
    right: 0; /* Align to the right of the container */
    display: flex; /* Use flexbox to align content */
    justify-content: center; /* Center items vertically */
    
    
}

.main1-text{
    width:70%;
    font-size: 30px;
    padding-bottom: 40px;
    
    
}

.main1-button{
    background-color: #5e5d59;
    display: block;
    width: 83%;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    
}

.button-text{
    color: white;
    
}

/* Section 2 */

.main2-container{
    display:flex;
    align-content: flex-start;
    width: 100%;
    margin-top: 32px;;
}

.main2-left{
width: 60%;

}


.main2-left img{
    max-width: 100%;
    margin: 16px 12px;
    padding: 16px 12px; 
}

.main2-left-text{
    margin-left: 24px;
    font-size: 24px;
    
}

.main2-left h1{
    margin-bottom: 24px;
    padding-top: 0;
}


.main2-left h4{
    margin-bottom: 32px;
    margin-top: 12px;
    font-weight: 100;
}

.main2-right{
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.card{
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    margin-left: 40px;
    
}

.card img{
    width: auto;
    height: auto;
    margin: 16px;
}




